body {
    background-color: #ECF4DF;
    color: #BF74A1;
    font-family:'Quicksand', sans-serif;
    font-size: 20px;
    margin: 50px;
}
header {
    background-color: #192e15;
    /* margin: -20px -50px; */
}

h1 {
    font-size: 50px;
    color: #ECF4DF;
    font-family: 'Parisienne', cursive;
    display: flex;
    /*justify-content: center;*/
}

h3 {
    font-size: 30px;
    color: #4C0E33;
}

p {
    width: 600px;
}

a:link, a:visited {
    color: #BF74A1;
}
a:hover {
    color: #4C0E33;
}
  #author {
    /*display: flex;
    justify-content: center;*/
    margin: -55px 0px 90px 92px;
    color: #BF74A1;
    font-size: 22px;
 } 

.left {
    width: 600px;
    float: left;
    margin-top: 30px;
}

.right {
    width: 600px;
    float: left;
    margin-left: 60px;
}

button {
    font-size: 22px;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    
}
button:hover {
    background-color: #4C0E33;
    color: #ECF4DF;
}

img:hover {
    border: solid 5px #ECF4DF ;
    border-radius: 20px;
}
/* @media (min-width: 1024px){ 
    header {
        width: 100%;
    }
} */
 
@media screen and (max-width: 992px) {
    body {
      background-color: rgb(207, 207, 106);
    }
    p, h2, h3 {
        color: #ECF4DF;
    }
    li {
        color: #4C0E33 ;
    }
    a:link, a:visited {
        color: #192e15;
    }
    a:hover {
        color: #ECF4DF
    }
  }
  

