body{
    max-width: 900px;
    margin: 100px;
}
 header {
    text-align: center;
 }

img {
    border-radius: 100px;
}

#about {
    text-align: center;
    margin: 50px;
}

.projects div {
    width: 33%;
    display: flex;
    float: right;
}



#contactForm {
    text-align: center;
}
