

body{
    max-width: 900px;
    margin: auto;
    padding: 100px;
}
 header {
    text-align: center;
 }

img {
    border-radius: 100px;
    align-self: center;
}

#about {
    text-align: center;
    margin: 50px;
}

#cool div{
    margin-bottom: 50px;
}

.projectDiv {
    width: 30%;
    text-align: center;
    float: left;
    border: 2px solid black;
    padding: 10px;
}



#contactForm {
    padding-top: 100px;
    text-align: center;
}


@media (max-width: 940px) {
    main , footer{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #cool div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .projectDiv {
        border: 0;
    }
}
